body{
    color: rgb(99, 97, 97);
}

.link-nav{
    text-decoration: none;
    color: rgb(99, 97, 97);
}
.link-nav:hover{
    color: rgba(199, 202, 21, 0.781);
}
.link-categories{
    text-decoration: none;
    color: rgb(99, 97, 97);
}
.link-categories:hover{
    color: rgba(199, 202, 21, 0.781);
}
