body{
    color: rgb(99, 97, 97);
}

.link-nav{
    text-decoration: none;
    color: rgb(99, 97, 97);
}
.link-nav:hover{
    color: rgb(243, 164, 18);
}
.link-categories{
    text-decoration: none;
    color: rgb(99, 97, 97);
}
.link-categories:hover{
    color: rgb(243, 164, 18);
}
.link-more{
    text-decoration: none;
    color: rgb(243, 164, 18);
}
